body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 96%;
}
.colorfull-text{
    color: orange;
}
.flexible-container{
    margin-top: 10%;
}
.flexible-container h1{
    font-size: 40px;
    line-height: 30px;
}
.flexible-container p{
    line-height: 25px;
    padding: 1% 0 7% 0;
}
.btn{
    text-decoration: none;
    padding: 15px 30px;
    color: #fff;
    background-image: linear-gradient(tomato, orange);
    border-radius: 50px;
    box-shadow: 0 0 20px orange;
}
#seconde-section{
    background-image: url(eat-healthy-main/images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    margin: 150px 0;
    padding: 5% 0 0 0;
}
.female img{
    width: 50%;
}
.flexible-container-2 p{
    padding: 2% 0 7% 0;
    line-height: 25px;
}
.flexible-container-2 h1{
    font-size: 30px;
}
.outsite-text{
    text-align: center;
    margin-bottom: 3%;
}
.outsite-text p{
    line-height: 25px;
}
.box-desing{
    box-shadow: 0 0 20px lightgray;
    padding: 25px;
    margin-right: 20px;
    border-radius: 25px;
}
#box-desing-two{
    margin-right: 0;
}
.box-desing img{
    width: 100%;
}