body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    margin-left: 5%;
}
.half-width{
    width: 50%;
}
.colum-one{
    margin-top: 120px;
}
.half-width h1{
    font-size: 40px;
    line-height: 30px;
}
.colorfull{
    color: orange;
}
.half-width h4{
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 5%;
}
.half-width img{
    width: 80%;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 15px 30px;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 20px orange;
}

#seconde-section{
    margin: 100px 0;
    background-image: url(eat-healthy-main/images/shapes/7.png);
    background-repeat: no-repeat;
    padding: 80px 0 0 0;
}
.female-img img{
    width: 50%;
}
.female-img{
    margin-left: 10%;
}
.col-two p{
    padding: 0  0 7% 0;
    line-height: 25px;
}
.col-two{
    margin-right: 5%;
    margin-top: 2%;
}